<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}
    <link href="/myMPD/assets/MaterialIcons-Regular.woff2" rel="preload" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/"><span class="material-icons logo">play_circle_outline</span> {{ site.name }}</a></h1>
          </div>
          <nav>
            <a href="{{ site.baseurl }}/">myMPD</a>
            <a href="{{ site.baseurl }}/mympdos">myMPDos</a>
            <a href="{{ site.baseurl }}/mygpiod">myGPIOd</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

  </body>
</html>
